/* tag selector|id selectoe|class selecor*/
body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
    
}
#id_first{
    color: yellow;
    text-align: left;
    text-decoration: none;
}
.brand{
    color: aquamarine;
}
